label {
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 250px;
    height: 279px;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: 20;
    transition: all 600ms;    
}
.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    line-height: 200px;  
    background-color: aquamarine; 
}
.card .back{
    /*background:url('./logo192.png');*/
    transform: rotateX(180deg);    
}
label:hover .card{
    transform: rotateX(20deg);
    box-shadow: 0 21px 21px rgba(50, 50, 50, .4);
    
}
input{
   display: none; 
   text-align: center;
}
:checked + .card{
    transform: rotateX(180deg);
   
}
label:hover :checked + .card{
    transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(50, 50, 50, .4);
}  