label {
    display: block;
    position:relative;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.card {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    transform-style: preserve-3d;
    z-index: 20;
    transition: all 600ms;    
}
.card div {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
     
}
.card .front {
    background-color: rgb(13, 14, 13);
    background-size: 100% 100%;
}
.card .back{
    transform: rotateX(180deg);
    font-weight: bold;
    font-size: larger;
    background-size: 100% 100%;
    /*box-shadow: inset 2px 2px 0 rgba(7, 7, 7, 0.993), inset -2px -2px 0 #080808ec;*/
    
}
label:hover .card{
    transform: rotateX(20deg);
    box-shadow: 0 2px 2px rgba(50, 50, 50, .4);
    
}
input{
   display: none; 
}
:checked + .card{
    transform: rotateX(180deg);
   
}
label:hover :checked + .card{
    transform: rotateX(160deg);
    box-shadow: 0 2px 2px rgba(50, 50, 50, .4);
} 

.board {
    position: sticky;
    margin-top: 1em;
    margin-left: 1em;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: calc(100vh - 2em);
    max-height: calc(100vh - 2em);
    overflow: hidden;
    border: solid 2px black;
    background: aquamarine;
    
    
}
  
.overlay {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    position: absolute;
    top: 1em;
    left: 1em;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    transform-style: preserve-3d;
}
.textstuff{
    position: relative;
    border: solid 2px black;
    max-width: calc(50vh - 2em);
    max-height: calc(50vh - 2em);
    width:20vw;
    height:20vw;
    margin-top: 1em;
    display: grid;
    grid-template-rows: 10% 10% 10%;
    gap: 10px;
    text-align: left;
    justify-content: left;
    justify-items: left;
    background: aquamarine;
    padding-inline: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}